.register
{
    height: 100vh;
    background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    .card
    {
        width:50%;
        border:1px solid rgba(234, 193, 29, 0.724);
        border-radius:10px;
        display: flex;
        background-color: white;
        min-height:500px;
        overflow: hidden;
      
        .right{
            flex:1;
            display: flex;
            flex-direction: column;
            gap:20px;
            padding:20px;
            background: linear-gradient(rgba(178, 144, 22, 0.5), rgba(178, 144, 22, 0.5)),
            url("https://images.unsplash.com/photo-1553697388-94e804e2f0f6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nzh8fHRyYXZlbHxlbnwwfHwwfHx8MA%3D%3D")
              center;
              background-size: cover;
              color:white;

            h1{

                font-size:60px;
                line-height: 50px;
                letter-spacing: 5.5px;
            }
            p{
                font-size:14px;
             
            }
            span{
                font-size:14px;
             
            }
            button{
                width:50%;
                padding:10px;
                border:none;
                background-color: white;
                color:chocolate;
                font-weight:bold;
                cursor: pointer;
            }
        }
        .left{
            flex:1;
            display: flex;
            flex-direction: column;
            padding: 20px;
            gap:10px;
            h1{
                color: #555;
            }
           form{
            display: flex;
            flex-direction: column;
            gap:10px;
            input{
                border:none;
                width:80%;
                padding:20px 10px;
                border-bottom: 1px solid lightgray;
            }
            button{
                width:50%;
                padding:10px;
                font-weight: bold;
                border:none;
                background: orange;
                border-radius:3px;

            }
           }
        }
    }
}