.carousel-container {
   height:300px;
    max-width: 100%;
    
    
   
    
  }
  
  .carousel-container img {
    
    width: 100%;
    height: 530px;
   object-fit: fill;
   box-shadow:inset;
   opacity: 1;
   
    
  
  
  }
  