.db{
.dashbo{
    position: fixed;
    top:0;
    min-width:100%;
    background-color:#0077b6;
    z-index:1000;
   
    .top{
       z-index:1000;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap:200px;
        min-width:100%;
       
        

        .logo{
            font-size: 28px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 2px;
            color:white;
            margin-left:20px;

        }
        .bt{
            display: flex;
            flex-direction: row;
            gap:30px;
            padding: 20px;
            .expl{
                width:90px;
                height:35px;
                background-color:white ;
                font-weight: bold;
                color:black;
                border-radius:50px;
                border:1px solid black;
            }
            .expl:hover{
                background-color: #257ab8;
                color:white;
            }

                .rev{
                    width:90px;
                    height:35px;
                    background-color:#ffb703;
                    font-weight: bold;
                    color:white;
                    border-radius:50px;
                    color: black;
                    border:none;
                }
                .siou{
                    width:90px;
                    height:35px;
                    background-color:#B0BEC5;
                    font-weight: bold;
                    color:black;
                    border-radius:50px;
                    border:none;
                    
                
            }
        }
    }
  
}
.next{
    margin-top:77px;
    h1{
        padding:10px;
    }
    .footer2{
        display: flex;
        flex-direction:row;
        padding:10px;
        justify-content: space-around;
        .footer21{
            padding:10px;
            display:flex;
            flex-direction: column;
            gap:20px;
            .paym{
                text-decoration: none;
                font-size:24px;
            }
            .use{
                font-size:27px;
                font-weight: bold;
                text-decoration: none;
            }
            div{
              text-decoration: underline;
               
            }
            
           
           
        }
        img{
            width:300px;
            height:60px;
            object-fit: cover;
        }
    }    
}
}